/*
   2 июля 2011 г.14:19:50
   Пользователь: 
   Сервер: MICROSOF-AC7BDC\SQLEXPRESS
   База данных: TDTwoRelease0408
   Приложение: 
*/

/* Чтобы избежать возможных неполадок, связанных с потерей данных, необходимо подробно изучить этот сценарий перед его выполнением вне контекста конструктора баз данных.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Zakaz ADD
	REMOTE_SET int NOT NULL CONSTRAINT DF_Zakaz_REMOTE_SET DEFAULT 0,
	REMOTE_INCOURSE int NOT NULL CONSTRAINT DF_Zakaz_REMOTE_IN_COURSE DEFAULT 0,
	REMOTE_ACCEPTED int NOT NULL CONSTRAINT DF_Zakaz_REMOTE_ACCEPTED DEFAULT 0,
	REMOTE_DRNUM int NOT NULL CONSTRAINT DF_Zakaz_REMOTE_DRNUM DEFAULT 0
GO
COMMIT
